<!-- use https://angular.cn/guide/reactive-forms#grouping-form-controls -->
<div class="ui-page">
  <div class="ui-content">
    <form [formGroup]="queryForm" class="ui-form">
      <span>
        <label for="handle">handle: </label>
        <input id="handle" type="text" formControlName="handle" />
      </span>
      <span>
        <label for="year">year: </label>
        <select id="year" name="year" formControlName="year">
          <option value="">All</option>
          <option *ngFor="let year of yearList" [ngValue]="year">
            {{ year }}
          </option>
        </select>
      </span>
      <span>
        <label for="participantType">participantType: </label>
        <select
          id="participantType"
          name="participantType"
          formControlName="participantType"
        >
          <option value="">All</option>
          <option *ngFor="let pt of participantTypeList" [ngValue]="pt">
            {{ pt }}
          </option>
        </select>
      </span>
      <button (click)="goButtonClick()">Go</button>
    </form>

    <!-- TODO filter -->
    <div>user.rating fetch status: {{ fetchStatString[ratingFetching] }}</div>
    <div>user.status fetch status: {{ fetchStatString[statusFetching] }}</div>

    <app-year-stat
      [userStatusResult]="userStatusFiltered$ | async"
    ></app-year-stat>

    <table>
      <tbody>
        <tr>
          <th>Rating change</th>
          <td>{{ view.ratingChange }}</td>
        </tr>
        <tr>
          <th>Contest count</th>
          <td>{{ view.contestCount }}</td>
        </tr>
        <tr>
          <th>Submissions</th>
          <td>{{ view.submissionCount }}</td>
        </tr>
        <tr>
          <th>Solved</th>
          <td>{{ view.ACCount }}</td>
        </tr>
        <tr>
          <th>One submission solved</th>
          <td>
            {{ view.oneSubmissionSolved }}
            <span *ngIf="view.ACCount"
              >({{
                ((100 * view.oneSubmissionSolved) / view.ACCount).toFixed(2)
              }}%)</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="view.maxAttemptAC.length">
      <h2>Max attempt till AC</h2>
      <app-problem-report-card
        *ngFor="let p of view.maxAttemptAC"
        [problem]="p"
        hint="{{ p.attempt }} attempt "
      ></app-problem-report-card>
    </ng-container>
    <ng-container *ngIf="view.fastAC.length">
      <h2>Fast AC</h2>
      <app-problem-report-card
        *ngFor="let p of view.fastAC"
        [problem]="p"
        hint="{{ secondsToHHMMSS(p.actime) }} "
      ></app-problem-report-card>
    </ng-container>
    <ng-container *ngIf="view.latestAC.length">
      <h2>Latest AC</h2>
      <app-problem-report-card
        *ngFor="let p of view.latestAC"
        [problem]="p"
        hint="{{ secondsToHHMMSS(p.actime) }} "
      ></app-problem-report-card>
    </ng-container>
    <ng-container *ngIf="view.hardestAC.length">
      <h2>Hardest problem (AC)</h2>
      <app-problem-report-card
        *ngFor="let p of view.hardestAC"
        [problem]="p"
        [hint]="'rating:' + p.rating"
      ></app-problem-report-card>
    </ng-container>
    <ng-container *ngIf="view.unsolved.length">
      <h2>Unsolved problems</h2>
      <app-problem-report-card
        *ngFor="let p of view.unsolved"
        [problem]="p"
        hint="{{ p.submit }} submit "
      ></app-problem-report-card>
    </ng-container>

    <ng-container *ngIf="view.rankHigh.length">
      <h2>high rank</h2>
      <app-contest-report-card
        *ngFor="let c of view.rankHigh"
        [contest]="c"
        [hint]="'rank:' + c.rank"
      >
      </app-contest-report-card>
    </ng-container>
    <ng-container *ngIf="view.rankLow.length">
      <h2>low rank</h2>
      <app-contest-report-card
        *ngFor="let c of view.rankLow"
        [contest]="c"
        [hint]="'rank:' + c.rank"
      >
      </app-contest-report-card>
    </ng-container>
    <ng-container *ngIf="view.ratingMaxInc.length">
      <h2>high rating inc</h2>
      <app-contest-report-card
        *ngFor="let c of view.ratingMaxInc"
        [contest]="c"
        [hint]="'change: ' + (c.newRating - c.oldRating)"
      >
      </app-contest-report-card>
    </ng-container>
    <ng-container *ngIf="view.ratingMaxDec.length">
      <h2>high rating dec</h2>
      <app-contest-report-card
        *ngFor="let c of view.ratingMaxDec"
        [contest]="c"
        [hint]="'change: ' + (c.newRating - c.oldRating)"
      >
      </app-contest-report-card>
    </ng-container>
    <table>
      <caption>
        <h2>Verdict</h2>
      </caption>
      <tbody>
        <tr>
          <th>verdict</th>
          <th>count</th>
        </tr>
        <tr *ngFor="let o of view.verdict">
          <td>{{ o.name }}</td>
          <td>{{ o.count }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>
        <h2>Tag(First AC)</h2>
      </caption>
      <tbody>
        <tr>
          <th>tag</th>
          <th>count</th>
        </tr>
        <tr *ngFor="let o of view.acTags">
          <td>{{ o.name }}</td>
          <td>{{ o.count }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>
        <h2>Language(First AC)</h2>
      </caption>
      <tbody>
        <tr>
          <th>language</th>
          <th>count</th>
        </tr>
        <tr *ngFor="let o of view.firstAcLanguage">
          <td>{{ o.name }}</td>
          <td>{{ o.count }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>
        <h2>Problem Rating(First AC)</h2>
      </caption>
      <tbody>
        <tr>
          <th>rating</th>
          <th>count</th>
        </tr>
        <tr *ngFor="let o of view.acRating">
          <td>{{ o.name }}</td>
          <td>{{ o.count }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>
        <h2>Problem Index(First AC)</h2>
      </caption>
      <tbody>
        <tr>
          <th>index</th>
          <th>count</th>
        </tr>
        <tr *ngFor="let o of view.acIndex">
          <td>{{ o.name }}</td>
          <td>{{ o.count }}</td>
        </tr>
      </tbody>
    </table>
    <!--<h2>failed system test</h2>-->
    <!--<h2>hack lose ac</h2>-->
    <div class="modern">
      <button
        mat-flat-button
        routerLink="/annual"
        queryParamsHandling="preserve"
      >
        Modern UI
      </button>
    </div>
  </div>
</div>
