<section class="statistics-container">
  <div class="statistics-main">
    <div class="ui-box">
      <div class="ui-year" *ngFor="let item of yearsResult">
        <h4>{{ item.year }}</h4>
        <div class="ui-year-data">
          <div *ngFor="let week of item.weekList" class="ui-week">
            <div *ngFor="let v of week" class="ui-day">
              <div
                class="ui-square bggrey"
                *ngIf="v.green + v.red === 0"
                [ngClass]="['year' + item.year, 'month' + v.month]"
              ></div>
              <div class="ui-square" *ngIf="v.green + v.red !== 0">
                <div
                  class="ui-square-sub bggreen"
                  [ngStyle]="{ flex: v.green }"
                ></div>
                <div
                  class="ui-square-gsub bgred"
                  [ngStyle]="{ flex: v.red }"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
