<div class="page-container">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Codeforces +</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="cover">
      <div class="example-button-row">
        <button mat-flat-button routerLink="/statistics">Statistics</button>
        <button mat-flat-button routerLink="/annual">Annual Report</button>
      </div>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
