<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource$" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="contestId">
      <th mat-header-cell *matHeaderCellDef>contestId</th>
      <td mat-cell *matCellDef="let row">{{ row.contestId }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="contestName">
      <th mat-header-cell *matHeaderCellDef>contestName</th>
      <td mat-cell *matCellDef="let row">{{ row.contestName }}</td>
    </ng-container>

    <!-- handle Column -->
    <ng-container matColumnDef="handle">
      <th mat-header-cell *matHeaderCellDef>handle</th>
      <td mat-cell *matCellDef="let row">{{ row.handle }}</td>
    </ng-container>

    <!-- newRating Column -->
    <ng-container matColumnDef="newRating">
      <th mat-header-cell *matHeaderCellDef>newRating</th>
      <td
        mat-cell
        *matCellDef="let row"
        [style.color]="calcColor(row.newRating)"
      >
        {{ row.newRating }}
      </td>
    </ng-container>

    <!-- oldRating Column -->
    <ng-container matColumnDef="oldRating">
      <th mat-header-cell *matHeaderCellDef>oldRating</th>
      <td mat-cell *matCellDef="let row">{{ row.oldRating }}</td>
    </ng-container>

    <!-- rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>rank</th>
      <td mat-cell *matCellDef="let row">{{ row.rank }}</td>
    </ng-container>

    <!-- ratingUpdateTimeSeconds Column -->
    <ng-container matColumnDef="ratingUpdateTimeSeconds">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let row">
        {{
          row.ratingUpdateTimeSeconds * 1000 | date : "y/M/d HH:mm" : "+0800"
        }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
